body {
    color: lightslategray;
    background-color: lightcyan;
    font-family: Times, serif;
}
h1 {color: steelblue; background-color: paleturquoise;
    font-family: 'Oswald', sans-serif;
}
h2 {color: powderblue;
    font-family: 'Oswald', sans-serif;
}
nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: lightskyblue;
    }

nav a {color: cornflowerblue;}
nav {color: cornflowerblue;}

nav a:hover {background-color: royalblue;}

div {
    border: 1px solid lightblue;
    margin: 30px;
    padding: 50px;
    background-color: aliceblue;
    border-radius: 25px;
}
