body {
    color: lightslategray;
    background-color: lightcyan;
    font-family: Times, serif;
}
h1 {color: palevioletred; background-color: lavenderblush;
    font-family: 'Oswald', sans-serif;
}
h2 {color: lightpink;
    font-family: 'Oswald', sans-serif;
}
nav {background-color: mistyrose;}

nav a {color: cornflowerblue;}
nav {color: cornflowerblue;}

nav a:hover {background-color: pink;}
